body {
    background-color: #e2e2e2;
}
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    border: none;
}

.site-wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    min-width: 980px;
    width: 1000px;
    max-width: 1200px;
}

header, .main-part {
    padding: 0 5px;
}

/*===HEAD===*/
header {
    overflow: hidden;
}

.logo, .slogan {
    float: left;
}

.logo {
    margin: 8px 0 0 30px;
}

.slogan {
    margin: 40px 0 0 30px;
}

.header-inf {
    float: right;
    overflow: hidden;
    width: 305px;
}

.header-contact {
    background: #f8fafb;
    border: 1px solid #bbbbbb;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 0 10px 0;
    text-align: right;
}

.contact-item {
    margin-bottom: 3px;
}

.contact-item-text > p {
    margin: 0;
    line-height: 100%;
}

.contact-item-img {
    margin: 4px 10px 0 15px;
    float: right;
}

.phone {
    font: normal 13pt Verdana sans-serif;
}

.phone-number {
    font: bold 18pt Verdana sans-serif;
}

.schedule {
    font: normal 12pt Verdana sans-serif;
    opacity: 0.7;
}

/*Search form*/

.search-btn, .search-field {
    font: normal 11pt Verdana sans-serif;
}

.search-field {
    height: 32px;
}

.header-search {
    margin-bottom: 5px;
}

/*Search form*/

/*===HEAD===*/


/*===NAVIGATION===*/
nav {
    margin: 0 auto;
    overflow: hidden;
}

nav > table {
    width: 100%;
}

nav > table  td {
    font: normal 14pt Verdana sans-serif;
    padding: 20px 40px;
    border-right: 2px solid #075886;
}

nav > table td:last-child {
    border-right: none;
}

nav > table a {
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    background: #029ec9; /* Old browsers */
    background: -moz-linear-gradient(top,  #029ec9 1%, #358bf4 50%, #2645f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#029ec9), color-stop(50%,#358bf4), color-stop(100%,#2645f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #029ec9 1%,#358bf4 50%,#2645f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #029ec9 1%,#358bf4 50%,#2645f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #029ec9 1%,#358bf4 50%,#2645f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #029ec9 1%,#358bf4 50%,#2645f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029ec9', endColorstr='#2645f2',GradientType=0 ); /* IE6-9 */
}

.nav-item:hover {
    background: #005788; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #005788 1%, #007ba8 50%, #005788 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#005788), color-stop(50%,#007ba8), color-stop(99%,#005788)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #005788 1%,#007ba8 50%,#005788 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #005788 1%,#007ba8 50%,#005788 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #005788 1%,#007ba8 50%,#005788 99%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #005788 1%,#007ba8 50%,#005788 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005788', endColorstr='#005788',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.nav-item a:hover {
    color:#ffffff;
    text-decoration: none;
}
/*===NAVIGATION===*/



/*===MAIN PART===*/

.main-part {
    overflow: hidden;
}

/*Left part*/
.left-part {
    width: 230px;
    background-color: #ffff00;
    float: left;
}
/*Left part*/

/*Central part*/
.central-part {
    background-color: red;
    float: left;
}
/*Central part*/

/*Right part*/
.right-part {
    background-color: blue;
    width: 250px;
    float: right;
}
/*Right part*/

/*===MAIN PART===*/
.clear {
    clear: both;
}

